html{
  background-color: #ebd307;
}
h1{
  font-size: 100px;
  color: green;
  text-align: center;
}

.paul{
  font-style:italic;
}
.mike{
  font-weight: bold;
  color:purple;
}
.img1{
  padding-left: 400px;
}
.ron{
  font-size: 30px;
}
.ron2{
  font-size: 30px;
}
